/* Variables globales */

:root {
  --font-family: 'Lexend', sans-serif;
  --font-size: 1rem;

  --line-height: 1.75rem;

  --white: #ffffff;

  --max-header-height: 15dvh;
  --min-header-height: 10dvh;

  --background-transparent-color: rgba(0, 0, 0, 0.6);
}
